
.news-container{
    min-height: 100vh;
    position: absolute;
    .news-header{
        nav{
            position: relative;
            height: 70px;
            box-shadow: 3px 3px 25px black;
            .nav-logo{
                img{
                    width: 50px;
                }
            }
        }
    }
    .news-main{
        background-image: url('../../assets/images/our_services_background.jpg');
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 100px;
        .main-info{
            width: 75%;
            display: flex;
            margin: 0 auto;
            justify-content: center;
            flex-direction: column;

            .main-info-news{
                display: flex;
                padding: 50px 20px;
                background-color: rgba(0, 0, 0, 0.062);
                border-radius: 5px;
                margin-bottom: 50px;
                h2{
                    width: 50%;
                    text-align: start;
                    text-shadow: 3px 3px rgb(221 221 221);
                    margin-bottom: 30px;
                    letter-spacing: 3px;
                    font-size: 30px;
                    font-family: "Bebas Neue";
                    font-weight: 700;
                    color: rgb(48, 63, 109);
                    margin-right: 50px;
                }
                p{
                    text-align: start;
                    text-shadow: 3px 3px rgb(221 221 221);
                    margin-bottom: 30px;
                    letter-spacing: 3px;
                    font-size: 30px;
                    font-family: "Bebas Neue";
                    font-weight: 700;
                    color: rgb(48, 63, 109);
                }
            }
        }
    }

    footer{
        width:100%;
        bottom: 0;
    }

}